/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

h1, h2 {
    color: #2e352d;
    text-align: center;
    margin: 20px;
    line-height: 1.5;
}

h2 {
    color: #0e8640;
    font-family: "Protest Revolution", sans-serif;
}

label {
    display: block;
    color: #555;
    margin: 4px;
}


footer {
    margin-top: 30px;
    text-align: center;
    color: #888;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.promptContainer {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}

.container {
    margin: 90px auto;
    max-width: 800px;
}


.input-section {
    margin-bottom: 20px;
}


#poemPrompt {
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px 2px;
    width: 72%;
}

.button {
    display: block;
    background: linear-gradient(to right, #2c3e50, #0e8640);
    color: #fff;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    opacity: 0.9;
    border: 1px solid rgb(119, 130, 176);
    margin: 10px 2px;
}

.button:hover {
    background: linear-gradient(to right, #27ae60, #2c3e50);
}

#poem { 
font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid  #0e8640;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  max-width: 700px;
  margin: 40px auto;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#poemImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 4px;
}


.formSubmit {
    display: flex;
    justify-content: space-between;
}
